APP_NAME="Ninja School Blue"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8000
APP_TIMEZONE=Asia/Tokyo
APP_LOCALE=vi
APP_FALLBACK_LOCALE=en

APP_PORT=8080

DB_CONNECTION=mysql

MYSQL_DATABASE=nso_web
MYSQL_USER=root
MYSQL_PASSWORD=
MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306

DB_DATABASE=nso_web
DB_USERNAME=root
DB_PASSWORD=
DB_HOST=127.0.0.1
DB_PORT=3306

SESSION_DRIVER=file
SESSION_LIFETIME=20

SOCIAL_FACEBOOK_URL=https://www.facebook.com/
SOCIAL_ZALO_URL=https://zalo.me/

MAIL_MAILER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=
MAIL_FROM_NAME="Ninja School Blue"
MAIL_FROM=no-reply@ninjaschoolblue.vn

PAYMENT_COIN_RATE=1
REGISTER_BONUS_ENABLED=true
NEWS_MIRROR_UPLOAD_DIR=
PAYMENT_AMOUNTS=10000,20000,50000,100000,200000,500000,1000000
WEB2M_ACCESS_TOKEN=change-this-access-token
BANK_WEBHOOK_TOKEN=
WEB2M_BANK_NAME=
WEB2M_BANK_CODE=
WEB2M_BANK_ACCOUNT_NAME=
WEB2M_BANK_ACCOUNT_NUMBER=
WEB2M_BANK_PREFIX=
VIETQR_BANK_NAME=
VIETQR_BANK_CODE=
VIETQR_ACCOUNT_NAME=
VIETQR_ACCOUNT_NUMBER=
VIETQR_BANK_PREFIX=
