.env
vendor/
node_modules/
.idea/
.vscode/
*.log
/public/file
/vendor
/node_modules
/storage/*.key
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
.phpunit.result.cache
.env
vendor.zip
composer.phar
composer-setup.php
log/
